@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
* { margin:0; padding:0; box-sizing:border-box; }
body { }
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

nav a {
	color:#fff;
  text-decoration:none;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 33.33%;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 59.65%;
}
.wrapper {
	max-width:75em;
	margin:auto;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media screen and (max-width: 800px) {
  #right p{color:green !important;}
}