<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
=======
>>>>>>> origin/master
body {
	text-align: center;
	background: url("http://imgur.com/SC0juSw.png");
	background-size: cover;
	color: #fff;
<<<<<<< HEAD
	font-family: 'Libre Baskerville', serif;
=======
	font-family: Helvetica;
>>>>>>> origin/master
}
hr{
	width: 200px;
}
p {
	font-size: 22px;
}
